@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing global CSS to hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
